.fa {
  text-align: right;
}

.en {
  text-align: left;
}

.questions-body {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(225, 232, 235);
  border-radius: 5px;
  font-size: 1.2em;
  color: var(--dark-blue);
}

.question {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1% 0;
  text-align: center;
  font-size: 1.2em;
  border: 1px black double;
  border-radius: 5px;
  margin-top: 5%;
}

.question-title {
  width: 40%;
  margin: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.question-answer {
  width: 60%;
  margin: auto;
  font-size: 0.95em;
}

.next-button {
  width: fit-content;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 5px;
  font-size: 1.2em;
  border: none;
  text-align: center;
  margin: 50% 0;
}

.gender {
  width: 50%;
  margin: auto;
}

.birthday {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.birthday * {
  font-size: 0.8em;
}

.phone-number {
  align-content: center;
}

.phone-number-input {
  align-items: center;
  text-align: center;
}

.cry-reason-title {
  width: 30%;
  margin: auto;
}

.cry-reason-answer-options {
  width: 80%;
  margin: auto;
}

.cry-reason-answer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.autism-questions-title {
  width: 50%;
  margin: auto;
}

.autism-questions-answer {
  width: 50%;
  margin: auto;
}

.other-textarea {
  width: 90%;
  margin: auto;
}

.accept {
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  background-color: var(--light-green);
  color: var(--white);
  border-radius: 5px;
  border: none;
}

.big-button {
  width: 20px;
  height: 20px;
  margin: 0% 2%;
}

@media screen and (max-width: 550px) {
  .questions-body {
    width: 95%;
    margin: auto;
  }

  .question {
    width: 95%;
    margin: auto;
    margin: 2% 0%;

    font-size: 1em;
  }

  .question-title {
    width: 30%;
    margin: auto;
  }

  .question-answer {
    width: 55%;
    margin: auto;
    font-size: 0.95em;
  }

  .next-button {
    width: fit-content;
    border-radius: 5px;
    font-size: 1em;
  }

  .birthday {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .phone-number {
    align-content: center;
  }

  .phone-number-input {
    align-items: center;
    text-align: center;
  }

  .cry-reason-answer {
    width: 80%;
    margin: auto;
    font-size: 0.9em;
  }

  .cry-reason-answer-options {
    width: 90%;
    margin: auto;
  }

  .autism-questions-title {
    width: 45%;
    margin: auto;
    font-size: 0.9em;
  }

  .autism-questions-answer {
    width: 50%;
    margin: auto;
  }

  #autism-question-4 {
    width: 90%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #autism-question-4 .autism-questions-title {
    width: 80%;
    margin: auto;
    font-size: 0.9em;
  }

  #autism-question-4 .autism-questions-answer {
    width: 80%;
    margin: auto;
  }

  .other-textarea {
    width: 90%;
    margin: auto;
  }
}
