.fa {
  text-align: right;
}

.en {
  text-align: left;
}


.questions-body {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #166b9a;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
}

.question {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  border: 1px black solid;
  border-radius: 5px;
  margin-top: 5%;
}

.question-title {
  width: 40%;
  margin: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.question-answer {
  width: 60%;
  margin: auto;
  font-size: 0.95em;
}

.next-button {
  width: fit-content;
  background-color: rgb(35, 141, 14);
  color: white;
  border-radius: 5px;
  font-size: 1.2em;
  border: none;
  text-align: center;
}

.gender {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.birthday {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.phone-number {
  align-content: center;
}

.phone-number-input {
  align-items: center;
  text-align: center;
}

.cry-reason-title {
  width: 30%;
  margin: auto;
}

.cry-reason-answer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.cry-reason-answer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.autism-questions-title {
  width: 50%;
  margin: auto;
}

.autism-questions-answer {
  width: 50%;
  margin: auto;
}

.other-textarea {
  width: 90%;
  margin: auto;
}

.accept {
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  background-color: green;
  color: white;
  border-radius: 5px;
}

@media screen and (max-width: 550px) {
  .questions-body {
    width: 95%;
    margin: auto;
  }

  .question {
    width: 95%;
    margin: auto;
    margin: 10px ;
    font-size: 1em;
  }

  .question-title {
    width: 30%;
    margin: auto;
  }

  .question-answer {
    width: 55%;
    margin: auto;
    font-size: 0.95em;
  }

  .next-button {
    width: fit-content;
    background-color: rgb(35, 141, 14);
    color: white;
    border-radius: 5px;
    font-size: 1em;
  }

  .gender {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .birthday {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: right;
  }

  .phone-number {
    align-content: center;
  }

  .phone-number-input {
    align-items: center;
    text-align: center;
  }

  .cry-reason {
    width: 80%;
    font-size: 0.9em;

  }

  .autism-questions-title {
    width: 45%;
    margin: auto;
    font-size: 0.9em;
  }

  .autism-questions-answer {
    width: 50%;
    margin: auto;
    text-align: right;
  }

  .other-textarea {
    width: 90%;
    margin: auto;
  }
}
