* {
  font-family: Vazir;
}

.fa {
  text-align: right;
}

.en {
  text-align: left;
}

.logo {
  width: 80%;
  left: 0;
  float: left;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.logo-img {
  width: 10%;
}

.logo-title {
  width: 50%;
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.logo-title-txt {
  margin: 0;
  padding: 0;
}

.lang-button {
  position: absolute;
  top: 8px;
  right: 5%;
  font-size: 1.25em;
  border: none;
}

.lang-button-en {
  position: absolute;
  top: 8px;
  left: 5%;
  font-size: 1.25em;
  border: none;
}

.lang-img {
  width: 35px;
  height: 25px;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  }

  .logo-img {
    width: 15%;
    height: inherit;
  }

  .logo-title-txt {
    font-size: 0.5em;
  }

  .lang-img {
    width: 30px;
    height: 20px;
    border-radius: 5px;
  }
}
