.descrption {
    width: 70%;
    margin: auto;
    align-items: center;
    margin-top: 0;
    text-align: center;
}

.main-parts {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    color: white;
}

.profile {
    background-color: red;
}

.link {
    width: 35%;
    margin: auto;
    padding: 50px 0px; 
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.record-link {
    background-color: green;
}


@media screen and (max-width: 600px) {

    .descrption {
        width: 90%;
        margin: auto;
        align-items: center;
        margin-top: 0;
        text-align: center;
    }
    
    .main-parts {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.5em;
    }
    
    .link {
        width: 30%;
        margin: auto;
        padding: 30px 10px; 
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        color: white;
        margin-top: 5%;
    }
}