:root {
  --red: #e40c2b;
  --green: #438945;
  --light-green: #4bac4e;
  --dark-blue: #1d1d2c;
  --light-blue: #80baf3;
  --light-blue-duble: #ebf5ff;
  --white: #ffffff;
}

*{
  font-family: Vazir;
  margin: 0;
}